.p-menubar {
    padding: 0.5rem;
    background: rgb(80, 80, 240);
    color: #4b5563;
    border: .5px solid hsl(220, 13%, 91%);
    border-radius: 6px;
    width: 100vw;
    height: 5%;
}

.icon {
    color: aliceblue;
    background-color: aliceblue;
    margin-left: 15px;
    margin-top: 13px;
}

.faceIcon {
    margin-right: 45px;
}